<%# header %>
<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
  <div class="flex-1 px-2 mx-2">
    <span class="text-lg font-bold">
            Sakujiru?
          </span>
  </div> 
  <div class="flex-none hidden px-2 mx-2 lg:flex">
    <div class="flex items-stretch">
      <%# NEW POST LINK %>
      <%= link_to "NEW POST", new_post_path, class: "btn btn-ghost btn-sm rounded-btn" %>
      <%# POSTS LINK %>
      <%= link_to "POSTS", posts_path, class: "btn btn-ghost btn-sm rounded-btn" %>
      <%# USERS LINK %>
      <%= link_to "USERS", users_path, class: "btn btn-ghost btn-sm rounded-btn" %>
      <%# SING UP %>
      <%= link_to "SIGN UP", new_user_path, class: "btn btn-ghost btn-sm rounded-btn" %>
    </div>
  </div> 
  <div class="flex-none">
    <button class="btn btn-square btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">           
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>               
      </svg>
    </button>
  </div>
</div>